<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item>
        <id>1</id>
        <name>Pizza</name>
        <price>10.99</price>
    </item>
    <item>
        <id>2</id>
        <name>Burger</name>
        <price>5.99</price>
    </item>
    <item>
        <id>3</id>
        <name>Salad</name>
        <price>7.99</price>
    </item>
</menu>
